
table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: left;
  padding: 12px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: rgb(132, 175, 76);
  color: white;
}


.button2 {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}



.button2:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button2:hover {
  background-color: #3e8e41;

  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}